 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Experienced Python developer. Currently working as a productdeveloper for Siemens (Client).Worked on various areas of Machine Learning /Deep Learning</p>
                </div>
                <div class="col-lg-4">
                    <p>Well Familiar with various ML algorithms (KNN, LogisticRegression,SVM,DT,Random Forest,GBDT) and scikit-learn.Work experience on Deep Learning (CNN, RNN, LSTM,Transformer, Attention) using Keras and Tensorflow.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/raman_shinde.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
